## Import Libraries

In [1]:
import numpy as np
from numpy import count_nonzero, median, mean
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random

import datetime
from datetime import datetime, timedelta

%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

random.seed(0)
np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

## Exploratory Data Analysis

In [2]:
df = pd.read_csv("adm2020.csv")

In [3]:
df.head()

   UNITID  ADMCON1  ADMCON2  ADMCON3  ADMCON4  ADMCON5  ADMCON6  ADMCON7  ADMCON8  ADMCON9 XAPPLCN  APPLCN XAPPLCNM  APPLCNM XAPPLCNW  APPLCNW XADMSSN   ADMSSN XADMSSNM  ADMSSNM XADMSSNW  ADMSSNW XENRLT   ENRLT XENRLM   ENRLM XENRLW   ENRLW XENRLFT  ENRLFT XENRLFTM  ENRLFTM XENRLFTW  ENRLFTW XENRLPT  ENRLPT XENRLPTM  ENRLPTM XENRLPTW  ENRLPTW XSATNUM  SATNUM XSATPCT  SATPCT XACTNUM  ACTNUM XACTPCT  ACTPCT XSATVR25  SATVR25 XSATVR75  SATVR75 XSATMT25  SATMT25 XSATMT75  SATMT75 XACTCM25  ACTCM25 XACTCM75  ACTCM75 XACTEN25  ACTEN25 XACTEN75  ACTEN75 XACTMT25  ACTMT25 XACTMT75  ACTMT75
0  100654        1        2        1        2        3        2        1        1        3       R    9855        R     3394        R     6461       R  8835.00        R  2947.00        R  5888.00      R 1664.00      R  676.00      R  988.00       R 1622.00        R   660.00        R   962.00       R   42.00        R    16.00        R    26.00       R   22.00       R    1.00       R 1202.00       R   72.00        R   430.00        R   520.00        R   410.00        R   500.00        R    15.00        R    20.00        R    14.00        R    20.00        R    15.00        R     18.00
1  100663        1        3        1        1        3        3        1        3        3       R   10391        R     3803        R     6588       R  8375.00        R  3002.00        R  5373.00      R 2154.00      R  765.00      R 1389.00       R 2102.00        R   738.00        R  1364.00       R   52.00        R    27.00        R    25.00       R  302.00       R   14.00       R 2120.00       R   98.00        R   560.00        R   668.00        R   530.00        R   660.00        R    22.00        R    30.00        R    22.00        R    33.00        R    20.00        R     27.00
2  100706        1        2        1        3        3        2        1        1        3       R    5793        R     3057        R     2736       R  4467.00        R  2509.00        R  1958.00      R 1345.00      R  847.00      R  498.00       R 1328.00        R   840.00        R   488.00       R   17.00        R     7.00        R    10.00       R   90.00       R    7.00       R 1248.00       R   93.00        R   590.00        R   700.00        R   580.00        R   730.00        R    24.00        R    31.00        R    24.00        R    33.00        R    23.00        R     29.00
3  100724        1        3        2        3        3        3        1        1        3       R    7027        R     2226        R     4763       R  6948.00        R  2188.00        R  4724.00      R  975.00      R  347.00      R  628.00       R  926.00        R   322.00        R   604.00       R   49.00        R    25.00        R    24.00       R  293.00       R   30.00       R  688.00       R   71.00        R   438.00        R   531.00        R   406.00        R   518.00        R    14.00        R    20.00        R    14.00        R    20.00        R    14.00        R     20.00
4  100751        1        2        1        1        3        3        1        1        3       R   39560        R    14907        R    24653       R 31804.00        R 12112.00        R 19692.00      R 6507.00      R 2752.00      R 3755.00       R 6466.00        R  2728.00        R  3738.00       R   41.00        R    24.00        R    17.00       R 1492.00       R   23.00       R 4986.00       R   77.00        R   540.00        R   660.00        R   530.00        R   670.00        R    23.00        R    31.00        R    23.00        R    33.00        R    21.00        R     29.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 68 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UNITID    1989 non-null   int64
 1   ADMCON1   1989 non-null   int64
 2   ADMCON2   1989 non-null   int64
 3   ADMCON3   1989 non-null   int64
 4   ADMCON4   1989 non-null   int64
 5   ADMCON5   1989 non-null   int64
 6   ADMCON6   1989 non-null   int64
 7   ADMCON7   1989 non-null   int64
 8   ADMCON8   1989 non-null   int64
 9   ADMCON9   1989 non-null   int64
 10  XAPPLCN   1989 non-null   object
 11  APPLCN    1989 non-null   int64
 12  XAPPLCNM  1989 non-null   object
 13  APPLCNM   1989 non-null   int64
 14  XAPPLCNW  1989 non-null   object
 15  APPLCNW   1989 non-null   int64
 16  XADMSSN   1989 non-null   object
 17  ADMSSN    1965 non-null   float64
 18  XADMSSNM  1989 non-null   object
 19  ADMSSNM   1897 non-null   float64
 20  XADMSSNW  1989 non-null   object
 21  ADMSSNW   1881 non-null   float64
 22  XENRLT    1989 non-null   object
 23  ENRLT     1963 non-null   float64
 24  XENRLM    1989 non-null   object
 25  ENRLM     1883 non-null   float64
 26  XENRLW    1989 non-null   object
 27  ENRLW     1870 non-null   float64
 28  XENRLFT   1989 non-null   object
 29  ENRLFT    1949 non-null   float64
 30  XENRLFTM  1989 non-null   object
 31  ENRLFTM   1847 non-null   float64
 32  XENRLFTW  1989 non-null   object
 33  ENRLFTW   1850 non-null   float64
 34  XENRLPT   1989 non-null   object
 35  ENRLPT    1509 non-null   float64
 36  XENRLPTM  1989 non-null   object
 37  ENRLPTM   1450 non-null   float64
 38  XENRLPTW  1989 non-null   object
 39  ENRLPTW   1498 non-null   float64
 40  XSATNUM   1989 non-null   object
 41  SATNUM    1159 non-null   float64
 42  XSATPCT   1989 non-null   object
 43  SATPCT    1160 non-null   float64
 44  XACTNUM   1989 non-null   object
 45  ACTNUM    1159 non-null   float64
 46  XACTPCT   1989 non-null   object
 47  ACTPCT    1159 non-null   float64
 48  XSATVR25  1989 non-null   object
 49  SATVR25   1085 non-null   float64
 50  XSATVR75  1989 non-null   object
 51  SATVR75   1085 non-null   float64
 52  XSATMT25  1989 non-null   object
 53  SATMT25   1085 non-null   float64
 54  XSATMT75  1989 non-null   object
 55  SATMT75   1085 non-null   float64
 56  XACTCM25  1989 non-null   object
 57  ACTCM25   1116 non-null   float64
 58  XACTCM75  1989 non-null   object
 59  ACTCM75   1116 non-null   float64
 60  XACTEN25  1989 non-null   object
 61  ACTEN25   1052 non-null   float64
 62  XACTEN75  1989 non-null   object
 63  ACTEN75   1052 non-null   float64
 64  XACTMT25  1989 non-null   object
 65  ACTMT25   1053 non-null   float64
 66  XACTMT75  1989 non-null   object
 67  ACTMT75   1053 non-null   float64
dtypes: float64(26), int64(13), object(29)
memory usage: 1.0+ MB

In [5]:
df.describe()

         UNITID  ADMCON1  ADMCON2  ADMCON3  ADMCON4  ADMCON5  ADMCON6  ADMCON7  ADMCON8  ADMCON9    APPLCN  APPLCNM  APPLCNW   ADMSSN  ADMSSNM  ADMSSNW    ENRLT   ENRLM    ENRLW   ENRLFT  ENRLFTM  ENRLFTW   ENRLPT  ENRLPTM  ENRLPTW   SATNUM  SATPCT  ACTNUM  ACTPCT  SATVR25  SATVR75  SATMT25  SATMT75  ACTCM25  ACTCM75  ACTEN25  ACTEN75  ACTMT25  ACTMT75
count   1989.00  1989.00  1989.00  1989.00  1989.00  1989.00  1989.00  1989.00  1989.00  1989.00   1989.00  1989.00  1989.00  1965.00  1897.00  1881.00  1963.00 1883.00  1870.00  1949.00  1847.00  1850.00  1509.00  1450.00  1498.00  1159.00 1160.00 1159.00 1159.00  1085.00  1085.00  1085.00  1085.00  1116.00  1116.00  1052.00  1052.00  1053.00   1053.00
mean  224890.83     1.50     2.84     1.23     2.12     2.31     2.81     2.83     1.73     2.78   5832.78  2478.17  3350.35  3582.16  1510.37  2217.76   804.19  365.92   475.64   774.90   357.22   459.67    45.28    20.17    26.08   643.69   51.47  516.07   44.64   516.24   613.66   510.34   609.70    20.60    26.25    19.63    26.57    19.27     25.50
std   106587.84     1.03     1.11     0.71     1.03     1.27     0.82     1.61     1.12     0.73  10820.33  4929.20  5998.32  5908.14  2593.86  3456.83  1397.53  646.38   790.90  1313.52   617.20   734.97   320.02   117.65   209.27  1122.96   30.43  881.60   29.40    67.96    61.49    75.04    74.27     4.26     3.98     4.81     4.68     3.90      3.73
min   100654.00     1.00     1.00     1.00     1.00     1.00     1.00     1.00     1.00     1.00      0.00     0.00     0.00     0.00     0.00     0.00     0.00    0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00     0.00    0.00    0.00    0.00   300.00   415.00   200.00   405.00    10.00    16.00     9.00    14.00    10.00     15.00
25%   157951.00     1.00     2.00     1.00     1.00     1.00     3.00     1.00     1.00     3.00    272.00    67.00   159.00   219.00    91.00   183.00    94.50   40.00    67.00    90.00    43.00    64.25     1.00     0.00     1.00    57.50   24.00   71.00   20.00   470.00   570.00   460.00   560.00    18.00    23.00    16.00    23.00    16.00     23.00
50%   196176.00     1.00     3.00     1.00     2.00     2.00     3.00     3.00     1.00     3.00   2021.00   853.00  1160.00  1440.00   629.00   931.00   326.00  154.00   196.00   324.00   155.00   196.00     6.00     3.00     3.00   231.00   57.00  185.00   39.00   500.00   610.00   500.00   590.00    20.00    26.00    19.00    26.00    18.00     25.00
75%   230889.00     1.00     3.00     1.00     3.00     3.00     3.00     5.00     3.00     3.00   6036.00  2355.00  3623.00  4108.00  1657.00  2589.00   790.50  346.00   497.75   770.00   342.00   489.50    24.00    11.00    14.00   674.00   78.00  509.00   71.00   550.00   650.00   540.00   650.00    22.00    29.00    22.00    30.00    21.00     27.00
max   495916.00     5.00     5.00     5.00     5.00     5.00     5.00     5.00     5.00     5.00 108870.00 49938.00 58932.00 74604.00 35921.00 38683.00 15720.00 8280.00 10282.00 15259.00  8075.00  7184.00 11353.00  3815.00  7538.00 11957.00  100.00 7265.00  100.00   740.00   780.00   790.00   800.00    35.00    36.00    35.00    36.00    35.00     36.00

In [6]:
df.columns

Index(['UNITID', 'ADMCON1', 'ADMCON2', 'ADMCON3', 'ADMCON4', 'ADMCON5', 'ADMCON6', 'ADMCON7', 'ADMCON8', 'ADMCON9', 'XAPPLCN', 'APPLCN', 'XAPPLCNM', 'APPLCNM', 'XAPPLCNW', 'APPLCNW', 'XADMSSN', 'ADMSSN', 'XADMSSNM', 'ADMSSNM', 'XADMSSNW', 'ADMSSNW', 'XENRLT', 'ENRLT', 'XENRLM', 'ENRLM', 'XENRLW', 'ENRLW', 'XENRLFT', 'ENRLFT', 'XENRLFTM', 'ENRLFTM', 'XENRLFTW', 'ENRLFTW', 'XENRLPT', 'ENRLPT', 'XENRLPTM', 'ENRLPTM', 'XENRLPTW', 'ENRLPTW', 'XSATNUM', 'SATNUM', 'XSATPCT', 'SATPCT', 'XACTNUM', 'ACTNUM', 'XACTPCT', 'ACTPCT', 'XSATVR25', 'SATVR25', 'XSATVR75', 'SATVR75', 'XSATMT25', 'SATMT25', 'XSATMT75', 'SATMT75', 'XACTCM25', 'ACTCM25', 'XACTCM75', 'ACTCM75', 'XACTEN25', 'ACTEN25', 'XACTEN75', 'ACTEN75', 'XACTMT25', 'ACTMT25', 'XACTMT75', 'ACTMT75 '], dtype='object')

What is the value of the column `ENRLW` for the institution at row 1,337 in the data? This is in an exact numeric value without decimals.

In [7]:
df.ENRLW.iloc[1336]

219.0

How many reported an `NA` value for either admissions for men **or** admissions for women? This is in an exact numeric value without decimals.

In [8]:
df.isnull().sum()

UNITID        0
ADMCON1       0
ADMCON2       0
ADMCON3       0
ADMCON4       0
           ...
ACTEN75     937
XACTMT25      0
ACTMT25     936
XACTMT75      0
ACTMT75     936
Length: 68, dtype: int64

In [9]:
df.ADMSSNM.isnull().sum()

92

In [10]:
df.ADMSSNW.isnull().sum()

108

In [11]:
round(df.ADMSSNM.mean(),3)

1510.368